@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: 'Sarabun', sans-serif;
}

/* Marquee Animation */
@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
